
@keyframes animacion_test{
    from{
        background-color: aquamarine;
    }
    to{
        background-color: darkmagenta;
    }
}

.animada{
    width: 100%;
    background-color: aquamarine;
    color: bisque;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    animation: animacion_test 2s alternate infinite;
}
