@keyframes animacion_test{

    from{
        background-color: aquamarine;
    }
    to{
        background-color: darkmagenta;
    }
}
@keyframes girar{
    from{
        transform: rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

@keyframes label-animacion{
    from{

        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg); 
        margin-left: 85vw;
    }
}


.label-container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.label{
    width: 64px;
    text-align: center;
    background-color: rgb(180, 200, 65);
    color: aquamarine;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: label-animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
}
.loader{
    width: 64px;
    height: 64px;
    border: 16px solid #9700dd54;
    border-top: 16px solid #28d11c;
    border-radius: 50%;
    animation: girar 2s linear infinite;
    

}
.loader-double{
    width: 64px;
    height: 64px;
    border: 16px solid #00dd9354;
    border-top: 16px solid #d11c43;
    border-radius: 50%;
    border-bottom: 16px solid #490342;
    animation: girar 2s linear infinite;
}

.animada{
    width: 100%;
    background-color: aquamarine;
    color: bisque;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    animation-name: animacion_test 2s alternate infinite ;
}

